[user]
	name = Your Name
	email = your@email.com

[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.gitignore_global

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[rebase]
	autoStash = true

[fetch]
	prune = true

[diff]
	colorMoved = zebra

[merge]
	conflictstyle = diff3

[alias]
	st = status
	co = checkout
	br = branch
	lg = log --oneline --graph --decorate --all

[color]
	ui = auto
